* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif !important;
    font-weight: 400;
}

.global-content-wrapper {
    width: 100%;
    height: auto;
    background: #f3f3f3;
}

.slick-prev,
.slick-next {
    z-index: 300;
}

.slick-next {
    right: 50px !important;
}

.slick-prev {
    left: 30px !important;
}
.slick-prev:before,
.slick-next:before {
    font-size: 42px !important;
    color: #d9d9d9 !important;
}

.search-placeholder input::placeholder {
    font-size: 16px;
    color: "#fff";
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.button-cart-home {
    font-size: 16px;
    font-weight: 500;
    color: #f3f3f3;
    line-height: 19.36px;
    text-align: "center";
    background: #0c4178;
    border-radius: 15px;
    text-transform: none;
    padding: 14px 36px;
    border: none;
    height: auto;
    height: 50px;
}
.button-cart-home:hover {
    background-color: #29b6f9;
}
.favouritesBlue {
    fill: "none !important";
}
.favouritesBlue:hover {
    fill: #0c4178;
}
