.small-slider .slick-next {
    right: 55px !important;
    top: -40px !important;
}

.small-slider .slick-prev {
    left: 1300px !important;
    top: -40px;
}

@media only screen and (max-width: 1536px) {
    .small-slider .slick-prev {
        left: 1020px !important;
        top: -40px;
    }
}
