.small-slider .slick-next {
    right: 25px !important;
    top: -40px;
    z-index: 250;
}

.small-slider .slick-prev {
    left: 1320px !important;
    top: -40px;
    z-index: 250;
}

@media only screen and (max-width: 1536px) {
    .small-slider .slick-prev {
        left: 1270px !important;
        top: -40px;
    }
}

.slider-brands .slick-next {
    right: -235px !important;
    top: -40px;
    z-index: 250;
}

.slider-brands .slick-prev {
    left: 1300px !important;
    top: -40px;
    z-index: 250;
}

@media only screen and (max-width: 1536px) {
    .slider-brands .slick-prev {
        left: 1270px !important;
        top: -40px;
    }
    .slider-brands .slick-next {
        right: -245px !important;
        top: -40px;
    }
}

@media only screen and (max-width: 1200px) {
    .slick-prev:before {
        font-size: 32px !important;
    }
    .slick-next:before {
        font-size: 32px !important;
    }
    .small-slider .slick-prev {
        left: 280px !important;

        top: 0px;
    }
    .small-slider .slick-next {
        left: 320px !important;
        top: 0px;
    }
    .slider-brands .slick-prev {
        left: 280px !important;

        top: -20px;
    }
    .slider-brands .slick-next {
        left: 320px !important;
        top: -20px;
    }
}

.slick-slide {
    width: calc(20% - 24px);
}

.slider-brands .slick-slide {
    width: calc(25% - 24px);
}

.slick-track {
    display: flex;
    gap: 12px;
    margin-left: "-12px";
}

.slick-list {
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.slider-brands .slick-list {
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}
